name: Validate

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  validate:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node-version:
          # https://nodejs.org/en/about/previous-releases#release-schedule
          # Maintenance LTS until may 2026
          - 20
          # Maintenance LTS until may 2027
          - 22
          # Active LTS
          - 24
          # Current
          - 25

    runs-on: ${{ matrix.os }}
    name: Using Node.js ${{ matrix.node-version }} on ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - uses: taiki-e/install-action@just

      - name: Setup Project
        run: just setup

      - name: Validate all
        run: just validate-all

      - name: Check for security vulnerabilities in dependencies
        run: just security-audit
